@using global::Illusive.Utility
@model AccountModel

@{
    var user = this.Model.User;
}

<div class="w-100 mt-2">
    <h4 class="text-center">Change profile settings</h4>
    <form enctype="multipart/form-data" method="post" class="w-50 m-auto">
        <div class="form-group">
            <label for="info-bio" class="col-xs-2 control-label">What's on your mind?</label>
            <input type="text" asp-for="AccountUpdate.Bio" id="info-bio" class="form-control mb-4">
        </div>
        <div class="form-group">
            <label for="info-pfp" class="col-xs-2 control-label">Profile Picture</label>
            <input type="file" asp-for="AccountUpdate.ProfilePicture" id="info-pfp" class="mb-4 filestyle" accept="image/*">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">https://github.com/</span>
            </div>
            <input type="text" class="form-control" asp-for="AccountUpdate.GithubUrl" aria-describedby="basic-addon3">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">https://twitter.com/</span>
            </div>
            <input type="text" class="form-control" asp-for="AccountUpdate.TwitterUrl" aria-describedby="basic-addon3">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">https://www.reddit.com/user/</span>
            </div>
            <input type="text" class="form-control" asp-for="AccountUpdate.RedditUrl" aria-describedby="basic-addon3">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">https://steamcommunity.com/id/</span>
            </div>
            <input type="text" class="form-control" asp-for="AccountUpdate.SteamUrl" aria-describedby="basic-addon3">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">https://linkedin.com/in/</span>
            </div>
            <input type="text" class="form-control" asp-for="AccountUpdate.LinkedInUrl" aria-describedby="basic-addon3">
        </div>
        
        <button class="p-1 m-2 btn-primary w-100" type="submit" asp-page-handler="Upload">Update</button>
        <button class="p-1 m-2 btn-danger w-100" type="button" onclick="DeleteAccount('@user.GetUniqueId()')">Delete Account</button>
        @Html.AntiForgeryToken()
    </form>
</div>
