
<script>
    // Dark theme
    let theme = Cookies.get("theme");
    if(theme === undefined){
        theme = "lighttheme";
    }
    
    setTheme(theme);
</script>

@* TODO: Make the label text a hovertip *@
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input darkmode-toggle" onclick="DarkModeToggle()" id="customSwitches">
    
    <label class="custom-control-label input100" for="customSwitches">Dark Mode</label>
</div>