<footer class="border-page-top footer text-muted navbar-color shadow-lg">
    <div class="container" style="text-overflow: clip">
        &copy; 2020 - <a href="https://github.com/pippinmole/" target="_blank">pippin_mole</a> - <a asp-area="" asp-page="/Privacy">Privacy</a> - <a href="https://github.com/pippinmole/Illusive" target="_blank">Open Source</a>
    </div>
</footer>