@page

<!DOCTYPE html>

<html>
<head>
    <title>Oops! No Authorization!</title>
</head>
<body>
<div class="text-center">
    <h2>No authorization!</h2>
    <p>
        Uh oh! Seems you have taken a wrong turn!
    </p>
</div>
</body>
</html>