@page
@using MongoDB.Bson
@model AccountModel
@{
    ViewData["Title"] = "Account";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>


@{
    var data = this.Model.GetData();
        
    <h4 style="border-bottom: 1px solid grey; padding: 16px">@data.AccountName</h4>
}
    
</body>
</html>