@page
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Templates
@using Microsoft.Extensions.Options
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    ViewData["Description"] = "Forgot your password? Recover it here!";
}

<div class="w-50 m-auto">
    <div class="form-container">
        <h1 class="text-center display-4">Forgot Password</h1>
    
        <form method="post" id="loginField">
            <div asp-validation-summary="All" class="text-danger"></div>
    
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="email" asp-for="Form.Email" id="info-email" class="form-control" placeholder="E-mail">
            </div>

            <div class="d-inline-block m-3">
                @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings?.Value))
            </div>
    
            <button class="btn btn-info btn-block my-4 debounce" type="submit" id="recaptcha">Get reset link</button>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>