@page
@using global::Illusive.Utility
@using global::Illusive.Database
@using Humanizer
@inject IAccountService AccountService
@model ForumModel
@{
    ViewData["Title"] = "Forum";
    ViewData["Description"] = "Forum posts and blogs";
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        function displayMessage(message) {
            $(".message-window > span#message").text(message);
            $(".message-window").addClass("show").delay(3000).queue(function () {
                $(this).removeClass("show").dequeue();
            });
        }
        
        jQuery(document).ready(function ($) {
            $('#feedback-form').submit(function (event) {
                event.preventDefault();
                grecaptcha.execute('site_key', { action: 'submit' }).then(function (token) {
                    var data = {
                        name: $('#name').val(),
                        email: $('#email').val(),
                        feedback: $('#feedback').val(),
                        token: token
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/api/feedback',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        dataType: "json",
                        cache: false,
                        complete: function (event) {
                            switch(event.status) {
                                case 200:
                                    $('#name').val('');
                                    $('#email').val('');
                                    $('#feedback').val('');
                                    displayMessage('Thank you for submitting your feedback!');
                                    break;
                                case 403:
                                    displayMessage('Are you a robot?');
                                    break;
                                default:
                                    displayMessage('Something went wrong. Please try later.');
                                    break;
                            }
                        }
                    });
                });
            });
        });
    </script>
    
    <script type="text/javascript">    
        window.addEventListener("load", () => {
            const orderBy = $(".order-by");
            orderBy.val(GetQueryValue("orderby"));
            
            orderBy.on('change', (e) => {
                SetQueryValue("orderby", e.target.value);
            });
        });
        
        function IncrementPageCount() {
            const val = Math.min(parseInt(GetQueryValue("pageCount")) + 1, 10);
            SetQueryValue("pageCount", val)
        }
        function DecrementPageCount() {
            const val = Math.max(parseInt(GetQueryValue("pageCount")) - 1, 1);
            SetQueryValue("pageCount", val)
        }
    </script>
</head>
<body>

<div class="message-window">
    <div class="icon"></div>
    <span id="message"></span>
</div>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    @if ( !this.User.IsLoggedIn() ) {
        <div><a href="/Login">Login</a> or <a href="/Signup">Sign up</a> to create a post!</div>
    } else {
        <div><a href="/CreatePost">Create a post!</a></div>
    }
</div>

<select class="order-by" style="margin: auto; background-color: var(--container-colour-secondary); padding: 5px; border: none; border-radius: 5px; color: inherit">
    <option value="views-asc">Order by views (Ascending)</option>
    <option value="views-desc">Order by views (Descending)</option>
    <option value="likes-asc">Order by likes (Ascending)</option>
    <option value="likes-desc">Order by likes (Descending)</option>
    <option value="date-desc">Order by date (Newest first)</option>
    <option value="date-asc">Order by date (Oldest first)</option>
</select>

<div style="margin-top: 15px">
    @if ( this.Model.Forums.Page != 1 ) {
        <span class="button previous" onclick="DecrementPageCount()">&laquo; Previous</span>
    }
    @if ( this.Model.Forums.Page < this.Model.Forums.PageCount ) {
        <span class="button next" onclick="IncrementPageCount()">Next &raquo;</span>
    }
</div>

<div>
    @{
        var postResults = this.Model.Forums;
        foreach ( var forum in postResults.Posts ) {
            @await Html.PartialAsync("Partials/ForumPostComponent", model: forum)
        }

        <h5>Page @postResults.Page of @postResults.PageCount</h5>

        <div style="margin-top: 15px">
            @if ( this.Model.Forums.Page != 1 ) {
                <span class="button previous" onclick="DecrementPageCount()">&laquo; Previous</span>
            }
            @if ( this.Model.Forums.Page < this.Model.Forums.PageCount ) {
                <span class="button next" onclick="IncrementPageCount()">Next &raquo;</span>
            }
        </div>
    }
</div>

<br><br>

</body>
</html>