@page
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@using reCAPTCHA.AspNetCore
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore.Versions
@model LoginModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Description"] = "Log in to your account";
}

<div class="text-center">
    
    <h1 class="display-4">Login</h1>

    <div align="center">

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            Username: <input class="input-field" style="width: 50%" asp-for="loginData.Username" placeholder="username"/><br/>
            Password: <input class="input-field" style="width: 50%" asp-for="loginData.Password" placeholder="password"/><br/>
            Remember me: <input asp-for="loginData.RememberMe" type="checkbox"/><br/>
            @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings?.Value))
            <input id="recaptcha" class="debounce" type="submit" value="Login"/>
            
            <p>Don't have an account? <a href="/Signup">Sign up!</a></p>
            @Html.AntiForgeryToken()
        </form>

    </div>

</div>