@page
@model NotFound

@{
    Layout = null;
    ViewData["Description"] = "Uh oh! I can't find that!";
}

<!DOCTYPE html>

<html>
<head>
    <title>404 Not Found :(</title>
</head>
<body>
<div>
    
</div>
</body>
</html>