@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<p>
    <h3>Account Data</h3>
    
    We store the bare minumum required to run an account service for you. This includes things such as your Account name, Email and Password (Hashed). If someone were to gain access or view information stored on our servers, they would not be able to access your account.
    
    <h3></h3>
    
</p>
