@page "{email?}/{token?}"
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    ViewData["Description"] = "Forgot your password? Recover it here!";
}

<div class="w-50 m-auto">
    <h1 class="text-center display-4">Reset Password</h1>

    <form method="post" id="loginField" class="border border-light p-5">
        <div asp-validation-summary="All" class="text-danger"></div>
    
        <div class="form-group">
            <label asp-for="Form.Password" class="control-label"></label>
            <input asp-for="Form.Password" class="form-control" />
            <span asp-validation-for="Form.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Form.ConfirmPassword" class="control-label"></label>
            <input asp-for="Form.ConfirmPassword" class="form-control" value="Confirm Password" />
            <span asp-validation-for="Form.ConfirmPassword" class="text-danger"></span>
        </div>
        <button class="btn btn-info btn-block my-4 debounce" type="submit" id="recaptcha">Change Password</button>
        
        @* <div class="form-group"> *@
        @*     <label for="info-email" class="col-xs-2 control-label">E-mail</label> *@
        @*     <input type="email" asp-for="Form.Email" id="info-email" class="form-control mb-4" placeholder="E-mail"> *@
        @* </div> *@
        @* *@
        @* <button class="btn btn-info btn-block my-4 debounce" type="submit" id="recaptcha">Get reset link</button> *@
        @Html.AntiForgeryToken()
    </form>
</div>