@page
@model SignupModel

@{
    ViewData["Title"] = "Sign up";
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <style type="text/css">
       
        
        
    </style>
    
</head>
<body>
<div align="center" class="container-post">
    <h1 class="display-4">Sign up</h1>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        Username: <input class="input-field" style="width: 50%" asp-for="SignupData.Username" placeholder="username"/><br/>
        Email: <input class="input-field" style="width: 50%" asp-for="SignupData.Email" placeholder="email@email.com"/><br/>
        Password: <input class="input-field" style="width: 50%" asp-for="SignupData.Password" type="password" placeholder="password"/><br/>
        <input type="submit" value="Sign Up"/>
        <p>Already have an account? <a href="/Login">Sign in!</a></p>
        @Html.AntiForgeryToken()
    </form>
</div>
</body>
</html>